<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head.ejs',{ pageName :  "Edit Your Profile, profile.username" }) %>

<body>

    <%- user ? include('../partials/nav.ejs', {user: user.username}) : include('../partials/nav.ejs', {user: ''}) %>
    <h1>Edit your profile</h1>
    <form method="POST" action="/users/<%= profile._id %>?_method=PUT">
        <div>
            <label for="username"> Username: </label>
            <input id="username" name="username" type="text" value="<%= profile.username %>"/>
        </div>
        <div>
            <label for="firstName"> First Name: </label>
            <input id="firstName" name="firstName" type="text" value="<%= profile.firstName %>"/>
        </div>
        <div>
            <label for="lastName"> Last Name: </label>
            <input id="lastName" name="lastName" type="text" value="<%= profile.lastName %>"/>
        </div>
        <div>
            <label for="email"> Email: </label>
            <input id="email" name="email" type="text" value="<%= profile.email %>"/>
        </div>
        <div>
            <label for="password"> New Password: </label>
            <input id="password" name="password" type="text" value=""/>
        </div>
        <div>
            <label for="age"> Age: </label>
            <input id="age" name="age" type="text" value="<%= profile.age %>"/>
        </div>
        <div>
            <label for="profilePicture"> Profile Picture URL: </label>
            <input id="profilePicture" name="profilePicture" type="text" value="<%= profile.profilePicture %>"/>
        </div>

        <input type="submit" value="Edit Profile">
    </form>
    <% for(let i = 0; i < 40; i++) { %>
        <br/>
    <% } %>
</body>
</html>